.backdrop{
  background: rgba(0, 0, 0, 0.3);
}

.smallModal{
  /* display: none;
  position: absolute;
  background: #fff;
  z-index: 1000; */
  position: absolute !important;
  width: auto !important;
  height: auto !important;
  max-width: 400px !important;
}